.pure-icon {
  display: inline-block;
  min-width: 1em;
}
.pure-icon--rotate {
  animation: pureIconSpin 1.4s linear infinite;
}
@keyframes pureIconSpin {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
.pure-button {
  box-sizing: border-box;
  position: relative;
  padding: .56em 1em;
  font-size: 1rem;
  vertical-align: middle;
  border: solid 1px transparent;
  border-radius: 3px;
  overflow: hidden;
  outline: none;
  cursor: pointer;
  -webkit-appearance: none;
}
.pure-button:active {
  box-shadow: inset 0 1px 5px rgba(0, 0, 0, 0.15);
}
.pure-button__text {
  position: relative;
  left: 50%;
  transform: translate3d(-50%, 0, 0);
}
.pure-button__wave {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.15);
  border-radius: 50%;
  transform: scale(0);
  pointer-events: none;
}
.pure-button__wave.pure-button__wave--pressed {
  animation: pureButtonRipple .6s linear forwards;
}
.pure-button__wave.pure-button__wave--hidden {
  opacity: 0;
}
@keyframes pureButtonRipple {
  from {
    opacity: 1;
    transform: scale(0);
  }
  to {
    opacity: 0;
    transform: scale(2.5);
  }
}
.pure-button--sm {
  padding: .45em .75em;
}
.pure-button--basic {
  background-color: #FFF;
  border: solid 1px #DDD;
  color: #333;
}
.pure-button--basic:hover,
.pure-button--basic:focus {
  background-color: #f7f7f7;
}
.pure-button--primary {
  background-color: #689eff;
  color: #fff;
}
.pure-button--primary:hover,
.pure-button--primary:focus {
  background-color: #6396f2;
}
.pure-button--disabled {
  cursor: not-allowed;
}
.pure-button--disabled:active {
  box-shadow: none;
}
.pure-button--disabled.pure-button--basic {
  background-color: #FFF;
  color: #999;
}
.pure-button--disabled.pure-button--primary {
  background-color: #accaff;
  color: #FFF;
}
.pure-button--block {
  display: block;
  width: 100%;
}
.pure-input__wrapper {
  display: inline-block;
}
.pure-input__error-message {
  width: 100%;
  color: #fd8282;
  font-size: 11px;
  background-color: #ffebeb;
  border: solid 1px #ffebeb;
  padding: 4px 10px;
  box-sizing: border-box;
}
.pure-input {
  width: 100%;
  background-color: #FFF;
  color: #333;
  outline: none;
  padding: .56em 10px;
  font-size: 1rem;
  display: inline-block;
  vertical-align: middle;
  box-sizing: border-box;
  border: solid 1px #DDD;
  cursor: inherit;
}
.pure-input:focus {
  border: solid 1px #689eff;
}
.pure-input--round {
  border-radius: 3px;
}
.pure-input--readonly:hover {
  border: solid 1px #bcbcbc;
}
.pure-input--readonly:focus {
  border: solid 1px #bcbcbc;
}
.pure-input--transparent {
  border: solid 1px transparent;
}
.pure-input--transparent:hover {
  border: solid 1px #bcbcbc;
}
.pure-input--transparent:not(.pure-input--readonly):focus {
  border: solid 1px #689eff;
}
.pure-input--sm {
  padding: .45em 10px;
}
.pure-input--error {
  border: solid 1px #fd8282;
}
.pure-input--disabled {
  background-color: #EEE;
  border: solid 1px #DDD;
  cursor: not-allowed;
}
.pure-input__wrapper--block {
  display: block;
  width: 100%;
}
.pure-spinner {
  display: inline-block;
  font-size: 0;
}
.pure-spinner__dot {
  display: inline-block;
  width: 6px;
  height: 6px;
  animation: pureSpinnerDotPluse 1.5s infinite ease-in-out;
}
.pure-spinner__dot:not(:last-child) {
  margin-right: 5px;
}
.pure-spinner__dot-1 {
  animation-delay: -1.5s;
  background-color: rgba(104, 158, 255, 0.2);
}
.pure-spinner__dot-2 {
  animation-delay: -1.35s;
  background-color: rgba(104, 158, 255, 0.2);
}
.pure-spinner__dot-3 {
  animation-delay: -1.2s;
  background-color: rgba(104, 158, 255, 0.2);
}
@keyframes pureSpinnerDotPluse {
  0%,
  40%,
  100% {
    opacity: 0;
    transform: scale(0.4);
  }
  20% {
    opacity: 1;
    transform: scaleY(1);
  }
}
.pure-spinner--block {
  display: block;
  width: 100%;
  text-align: center;
}
.pure-breadcrumb {
  display: inline-block;
  user-select: none;
}
.pure-breadcrumb-item {
  display: inline-block;
  color: #666;
  vertical-align: middle;
  font-size: 1rem;
}
.pure-breadcrumb-item:last-child {
  color: #5e5e5e;
  font-weight: bold;
}
.pure-breadcrumb-item:last-child .pure-breadcrumb-item__sep {
  display: none;
}
.pure-breadcrumb-item__sep {
  margin: 0 4px;
  color: #DDD;
}
.pure-breadcrumb-item--link {
  cursor: pointer;
}
.pure-textarea {
  border: solid 1px #DDD;
  padding: 10px;
  outline: none;
  vertical-align: middle;
  font-size: 1rem;
  color: #333;
}
.pure-textarea:focus {
  border: solid 1px #689eff;
}
.pure-checkbox {
  display: inline-block;
  position: relative;
  margin-right: 5px;
  font-size: 13px;
  cursor: pointer;
  user-select: none;
}
.pure-checkbox--checked .pure-checkbox__inner::after {
  transform: scale(1) rotate(-45deg);
}
.pure-checkbox__inner {
  width: 18px;
  height: 18px;
  display: inline-block;
  border: solid 1px #DDD;
  vertical-align: middle;
}
.pure-checkbox__inner::after {
  content: '';
  display: block;
  position: absolute;
  top: 4px;
  left: 4px;
  width: 10px;
  height: 5px;
  border-left: solid 2px #689eff;
  border-bottom: solid 2px #689eff;
  transform: scale(0) rotate(-45deg);
  transition: all 0.1s cubic-bezier(0.78, 0.14, 0.15, 0.86);
}
.pure-checkbox__text {
  vertical-align: middle;
}
.pure-radio-group {
  display: flex;
}
.pure-radio {
  vertical-align: middle;
  display: inline-block;
  position: relative;
  white-space: nowrap;
  margin-right: 5px;
  cursor: pointer;
  user-select: none;
  font-size: 1rem;
}
.pure-radio__inner {
  position: relative;
  top: 0;
  left: 0;
  display: inline-block;
  width: 18px;
  height: 18px;
  border-radius: 18px;
  border: 1px solid #DDD;
  background-color: #fff;
  vertical-align: middle;
}
.pure-radio__inner::after {
  position: absolute;
  width: 8px;
  height: 8px;
  left: 5px;
  top: 5px;
  border-radius: 8px;
  display: table;
  border-top: 0;
  border-left: 0;
  content: ' ';
  background-color: #689eff;
  opacity: 0;
  -webkit-transform: scale(0);
  transform: scale(0);
  transition: all 0.2s cubic-bezier(0.78, 0.14, 0.15, 0.86);
}
.pure-radio__text {
  vertical-align: middle;
}
.pure-radio--checked .pure-radio__inner::after {
  transform: scale(1);
  opacity: 1;
}
.pure-radio-button {
  display: block;
  box-sizing: border-box;
  padding: 0 10px;
  height: 28px;
  line-height: 26px;
  border: solid 1px #d9d9d9;
  cursor: pointer;
  font-size: 1rem;
  color: #666;
  border-left: none;
}
.pure-radio-button:first-child {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  border-left: solid 1px #d9d9d9;
}
.pure-radio-button:last-child {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
.pure-radio-button--checked {
  background: #fff;
  border-color: #689eff;
  color: #689eff;
  box-shadow: -1px 0 0 0 #82aeff;
}
.pure-radio-button--checked:first-child {
  border-color: #689eff;
  box-shadow: none;
}
.pure-switch {
  position: relative;
  width: 40px;
  height: 14px;
  background-color: #EEE;
  border-radius: 40px;
  display: inline-block;
  cursor: pointer;
  user-select: none;
  transition: all .3s ease;
}
.pure-switch__circle-mask {
  display: block;
  background-color: #999;
  border-radius: 50%;
  position: absolute;
  width: 60px;
  height: 60px;
  opacity: .1;
  transform: scale3d(0, 0, 0);
  transition: background-color 0.1s ease, left 0.1s ease, transform 0.1s ease, -webkit-transform 0.1s ease;
  top: -23px;
  left: -20px;
}
.pure-switch__circle-mask.pure-switch__circle-mask--show {
  transform: scale3d(1, 1, 1);
}
.pure-switch__block {
  display: block;
  background-color: #FFF;
  border-radius: 50%;
  position: absolute;
  width: 20px;
  height: 20px;
  top: -3px;
  left: 0;
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.3);
  transition: all .3s ease;
}
.pure-switch--checked {
  background-color: #bbd3ff;
}
.pure-switch--checked .pure-switch__circle-mask {
  background-color: #689eff;
  top: -23px;
  left: 0px;
}
.pure-switch--checked .pure-switch__block {
  transform: translate3d(20px, 0, 0);
  background-color: #689eff;
}
.pure-tabs {
  display: block;
}
.pure-tabs__titles,
.pure-tabs__title {
  display: block;
  list-style: none;
  margin: 0;
  padding: 0;
}
.pure-tabs__titles {
  border-bottom: 1px solid #d7d7d7;
  overflow: hidden;
}
.pure-tabs__title {
  float: left;
  padding: .9rem .6rem;
  color: #333;
  cursor: pointer;
  transition: color .4s ease;
}
.pure-tabs__title:hover {
  color: #689eff;
}
.pure-tabs__title.pure-tabs__title--active {
  color: #689eff;
}
.pure-tabs__header {
  font-size: 1rem;
  position: relative;
}
.pure-tabs__body {
  font-size: 1rem;
  padding: 1rem .6rem;
}
.pure-tabs__indicator {
  position: absolute;
  bottom: 0;
  border-bottom: solid 2px #689eff;
  transition: left .3s ease, width .3s ease;
}
.pure-form--block .pure-form-control {
  flex: 1;
}
.pure-form--block .pure-form-control input,
.pure-form--block .pure-form-control textarea,
.pure-form--block .pure-form-control select {
  flex: 1;
}
.pure-form--block .pure-form-control .pure-input__wrapper {
  display: flex;
  flex: 1;
  flex-wrap: wrap;
}
.pure-form--stacked .pure-form-label {
  text-align: left!important;
  margin-bottom: 10px;
}
.pure-form--stacked .pure-form-item {
  display: block!important;
}
.pure-form-item {
  display: flex;
  margin-bottom: 10px;
  align-items: center;
}
.pure-form-label {
  width: 20%;
  margin-right: 20px;
  text-align: right;
  font-size: 1rem;
}
.pure-form-control {
  display: flex;
  align-items: center;
  white-space: nowrap;
}
.pure-select {
  display: inline-block;
  position: relative;
  cursor: pointer;
}
.pure-select__icon {
  color: #666;
  position: absolute;
  top: 50%;
  right: 5px;
  transform: translate3d(0, -50%, 0);
  font-size: 16px;
  pointer-events: none;
}
.pure-select__options {
  position: absolute;
  width: 100%;
  margin-top: 5px;
  padding: 5px 0;
  background-color: #FFF;
  border: solid 1px #DDD;
  border-radius: .28rem;
  box-shadow: 1px 1px 6px 1px rgba(0, 0, 0, 0.1);
  z-index: 1;
}
.pure-select--transparent .pure-select__icon {
  display: none;
}
.pure-select--transparent:hover .pure-select__icon {
  display: block;
}
.pure-select--block {
  display: block;
  width: 100%;
}
.pure-select .pure-input__wrapper {
  width: 100%;
}
.pure-option {
  padding: 8px 10px;
  overflow: hidden;
}
.pure-option:hover {
  background-color: rgba(160, 168, 182, 0.15);
}
.pure-option--checked {
  background-color: #689eff;
  color: #FFF;
}
.pure-option--checked:hover {
  background-color: #6396f2;
}
.pure-pagination {
  margin: .4em 0;
}
.pure-note {
  display: inline-block;
}
.pure-note__inner {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 32px;
  padding: 0 15px;
  border-radius: 4px;
  background-color: #FFF;
  border: solid 1px #DDD;
  color: #666;
  box-shadow: 2px 2px 8px -2px rgba(50, 50, 50, 0.14);
  font-size: 1rem;
}
.pure-note__icon {
  font-size: 16px;
  margin-right: 7px;
}
.pure-note--will-transition {
  position: fixed;
  top: 0;
  left: 50%;
  opacity: .8;
  transform: translate3d(-50%, -40px, 0);
  transition: transform 0.7s cubic-bezier(0.4, 0, 0, 1.39), opacity 0.7s cubic-bezier(0.4, 0, 0, 1.39);
}
.pure-note--in {
  transform: translate3d(-50%, 90px, 0);
  opacity: 1;
}
.pure-note--out {
  transform: translate3d(-50%, -40px, 0);
  opacity: .6;
}
.pure-modal-mask {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  transition: all 0.5s cubic-bezier(0.4, 0, 0, 1.29);
  opacity: 1;
}
.pure-modal {
  position: fixed;
  top: 10%;
  left: 50%;
  min-width: 360px;
  max-width: 88%;
  background-color: #FFF;
  border-radius: 5px;
  box-shadow: 2px 4px 6px 1px rgba(50, 50, 50, 0.14);
  color: #333;
  transition: all 0.5s cubic-bezier(0.4, 0, 0, 1.29);
  transform: translate3d(-50%, -50%, 0);
  opacity: 0;
  overflow: hidden;
}
.pure-modal__head {
  text-align: center;
  padding: 20px 0;
  font-size: 19px;
}
.pure-modal__body {
  padding: 20px 40px;
  font-size: 15px;
  max-height: 60vh;
  overflow-y: auto;
}
.pure-modal__body::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
.pure-modal__body::-webkit-scrollbar-track {
  width: 6px;
  height: 6px;
}
.pure-modal__body::-webkit-scrollbar-thumb {
  width: 6px;
  height: 6px;
  border-radius: 10px;
  background-color: rgba(104, 158, 255, 0.15);
}
.pure-modal__actions {
  padding: 14px 20px;
  text-align: center;
  background-color: rgba(241, 241, 241, 0.39);
  border-top: solid 1px #F0F0F0;
}
/* Transition */
.pure-modal--in {
  transform: translate3d(-50%, 0, 0);
  opacity: 1;
}
.pure-modal--out {
  transform: translate3d(-50%, -50%, 0);
  opacity: 0;
}
.pure-modal-mask--out {
  opacity: 0;
}
.pure-table {
  width: 100%;
  background: #FFF;
  margin: 1em 0;
  border: 1px solid rgba(34, 36, 38, 0.15);
  box-shadow: none;
  text-align: left;
  color: rgba(0, 0, 0, 0.87);
  border-collapse: separate;
  border-spacing: 0;
  font-size: 1rem;
}
.pure-table thead tr th {
  background: #F9FAFB;
  text-align: inherit;
  color: #666;
  padding: 1em .78571429em;
  vertical-align: inherit;
  font-style: none;
  font-weight: 700;
  text-transform: none;
  border-bottom: 1px solid rgba(34, 36, 38, 0.1);
  border-left: 1px solid rgba(34, 36, 38, 0.1);
}
.pure-table tr th:first-child {
  border-left: none;
}
.pure-table__head {
  background-color: #F9FAFB;
}
.pure-table-row td {
  padding: .78571429em;
  border-top: 1px solid rgba(34, 36, 38, 0.1);
  text-align: inherit;
  border-left: 1px solid rgba(34, 36, 38, 0.1);
}
.pure-table-row:first-child td {
  border-top: none;
}
.pure-table-row td:first-child {
  border-left: none;
}
.pure-table-row:nth-child(2n),
.pure-table-row:nth-child(2n) {
  background-color: rgba(0, 0, 50, 0.02);
}
.pure-tr:nth-child(2n),
.pure-tr:nth-child(2n) {
  background-color: rgba(0, 0, 50, 0.02);
}
.pure-tr:first-child .pure-td {
  border-top: none;
}
.pure-tr .pure-td:first-child {
  border-left: none;
}
.pure-td {
  padding: .78571429em;
  border-top: 1px solid rgba(34, 36, 38, 0.1);
  text-align: inherit;
  border-left: 1px solid rgba(34, 36, 38, 0.1);
}
.r-element-tree {
  position: relative;
}
.r-element-tree-node {
  cursor: default;
}
.r-element-tree-node .children {
  padding-left: 30px;
}
.r-element-tree-node-open {
  box-sizing: border-box;
  display: block;
  height: 2em;
  line-height: 2em;
  text-align: left;
  color: #c71280;
  background-color: transparent;
}
.r-element-tree-node-open .arrow {
  display: inline-block;
  color: #666;
  transform: rotate(-90deg);
  user-select: none;
}
.r-element-tree-node-open .arrow.arrow-open {
  transform: rotate(0);
}
.r-element-tree-node-open .invisible {
  visibility: hidden;
}
.r-element-tree-node-open.hovered::before {
  left: 0;
  right: 0;
  background-color: #ebf2fc;
}
.r-element-tree-node-open.selected::before {
  left: 0;
  right: 0;
  background-color: #3879d9;
}
.r-element-tree-node-open::before {
  display: block;
  content: '';
  position: absolute;
  background-color: #DDD;
  height: 2em;
}
.r-element-tree-node-open .tag {
  position: relative;
}
.r-element-tree-node-open.selected {
  color: #FFF;
}
.r-element-tree-node-open.selected .arrow {
  color: #FFF;
}
.r-element-tree-node-open.selected .attr-key {
  color: #BBB;
}
.r-element-tree-node-open.selected .attr-plain {
  color: #BBB;
}
.r-element-tree-node-open.selected .attr-value {
  color: #FFF;
}
.r-element-tree-node-open .attr-key {
  color: #9a4500;
}
.r-element-tree-node-open .attr-plain {
  color: #a894a6;
}
.r-element-tree-node-open .attr-value {
  color: #1a1aa6;
}
.r-element-tree-node-close {
  box-sizing: border-box;
  display: block;
  height: 2em;
  line-height: 2em;
  text-align: left;
  color: #c71280;
  background-color: transparent;
  /* 因为element-tree-node-open中增加了caret，保持对齐 */
  text-indent: 1em;
}
.r-element-tree-node-close.hovered::before {
  left: 0;
  right: 0;
  background-color: #ebf2fc;
}
.r-element-tree-node-close.selected::before {
  left: 0;
  right: 0;
  background-color: #3879d9;
}
.r-element-tree-node-close::before {
  display: block;
  content: '';
  position: absolute;
  background-color: #DDD;
  height: 2em;
}
.r-element-tree-node-close .tag {
  position: relative;
}
.r-element-tree-node-close.selected {
  background-color: #3879d9;
  color: #FFF;
}
